#UI
body {
  background: linear-gradient(to bottom, #74ebd5, #ACB6E5);
  min-height: 100vh;
  margin: 0;
}

#board {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: -50px;
  background-color: #ffffff;
}

#restartContainer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
}

#restartButton {
  width: 100px;
  height: 40px;
  background-color: #5C6BC0;
  color: #FFFFFF;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#restartButton:hover {
  background-color: #7986CB;
}

.buttonContainer {
  margin-top: 20px;
}

.button {
  width: 117px;
  height: 117px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #303F9F;
  font-size: 16px;
  border: 5px solid #5C6BC0;
  border-radius: 0;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

.button1 {
  position: absolute;
  top: 88px;
  left: 578px;
}

.button2 {
  position: absolute;
  top: 88px;
  left: 696px;
}

.button3 {
  position: absolute;
  top: 88px;
  left: 814px;
}

.button4 {
  position: absolute;
  top: 88px;
  left: 934px;
}

.button5 {
  position: absolute;
  top: 88px;
  left: 1052px;
}

.button6 {
  position: absolute;
  top: 88px;
  left: 1171px;
}

.button7 {
  position: absolute;
  top: 207px;
  left: 578px;
}

.button8 {
  position: absolute;
  top: 207px;
  left: 696px;
}

.button9 {
  position: absolute;
  top: 207px;
  left: 814px;
}

.button10 {
  position: absolute;
  top: 207px;
  left: 934px;
}

.button11 {
  position: absolute;
  top: 207px;
  left: 1052px;
}

.button12 {
  position: absolute;
  top: 207px;
  left: 1171px;
}

.button13 {
  position: absolute;
  top: 325px;
  left: 578px;
}

.button14 {
  position: absolute;
  top: 325px;
  left: 696px;
}

.button15 {
  position: absolute;
  top: 325px;
  left: 814px;
}

.button16 {
  position: absolute;
  top: 325px;
  left: 934px;
}

.button17 {
  position: absolute;
  top: 325px;
  left: 1052px;
}

.button18 {
  position: absolute;
  top: 325px;
  left: 1171px;
}

.button19 {
  position: absolute;
  top: 446px;
  left: 578px;
}

.button20 {
  position: absolute;
  top: 446px;
  left: 696px;
}

.button21 {
  position: absolute;
  top: 446px;
  left: 814px;
}

.button22 {
  position: absolute;
  top: 446px;
  left: 934px;
}

.button23 {
  position: absolute;
  top: 446px;
  left: 1052px;
}

.button24 {
  position: absolute;
  top: 446px;
  left: 1171px;
}

.button25 {
  position: absolute;
  top: 565px;
  left: 578px;
}

.button26 {
  position: absolute;
  top: 565px;
  left: 696px;
}

.button27 {
  position: absolute;
  top: 565px;
  left: 814px;
}

.button28 {
  position: absolute;
  top: 565px;
  left: 934px;
}

.button29 {
  position: absolute;
  top: 565px;
  left: 1052px;
}

.button30 {
  position: absolute;
  top: 565px;
  left: 1171px;
}

.button31 {
  position: absolute;
  top: 683px;
  left: 578px;
}

.button32 {
  position: absolute;
  top: 683px;
  left: 696px;
}

.button33 {
  position: absolute;
  top: 683px;
  left: 814px;
}

.button34 {
  position: absolute;
  top: 683px;
  left: 934px;
}

.button35 {
  position: absolute;
  top: 683px;
  left: 1052px;
}

.button36 {
  position: absolute;
  top: 683px;
  left: 1171px;
}

#resultContainer {
  text-align: center;
  margin-top: -5px;
  font-size: 24px;
  font-weight: bold;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #303F9F;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

#resultContainer.show {
  display: block;
}

/* Mobile Styles */
@media (max-width: 980px) {
  .buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .button {
    width: 80px;
    height: 80px;
    font-size: 12px;
    border-width: 2px;
  }

  .button1 {
    position: absolute;
    top: 100px;
    left: 100px;
  }
  
  .button2 {
    position: absolute;
    top: 100px;
    left: 182px;
  }
  
  .button3 {
    position: absolute;
    top: 100px;
    left: 264px;
  }
  
  .button4 {
    position: absolute;
    top: 100px;
    left: 346px;
  }
  
  .button5 {
    position: absolute;
    top: 100px;
    left: 428px;
  }
  
  .button6 {
    position: absolute;
    top: 100px;
    left: 510px;
  }
  
  .button7 {
    position: absolute;
    top: 182px;
    left: 100px;
  }
  
  .button8 {
    position: absolute;
    top: 182px;
    left: 182px;
  }

  .button9 {
    position: absolute;
    top: 182px;
    left: 264px;
  }
  
  .button10 {
    position: absolute;
    top: 182px;
    left: 346px;
  }
  
  .button11 {
    position: absolute;
    top: 182px;
    left: 428px;
  }
  
  .button12 {
    position: absolute;
    top: 182px;
    left: 510px;
  }
  
  .button13 {
    position: absolute;
    top: 264px;
    left: 100px;
  }
  
  .button14 {
    position: absolute;
    top: 264px;
    left: 182px;
  }
  
  .button15 {
    position: absolute;
    top: 264px;
    left: 264px;
  }
  
  .button16 {
    position: absolute;
    top: 264px;
    left: 346px;
  }
  
  .button17 {
    position: absolute;
    top: 264px;
    left: 428px;
  }
  
  .button18 {
    position: absolute;
    top: 264px;
    left: 510px;
  }
  
  .button19 {
    position: absolute;
    top: 346px;
    left: 100px;
  }
  
  .button20 {
    position: absolute;
    top: 346px;
    left: 182px;
  }
  
  .button21 {
    position: absolute;
    top: 346px;
    left: 264px;
  }
  
  .button22 {
    position: absolute;
    top: 346px;
    left: 346px;
  }
  
  .button23 {
    position: absolute;
    top: 346px;
    left: 428px;
  }
  
  .button24 {
    position: absolute;
    top: 346px;
    left: 510px;
  }
  
  .button25 {
    position: absolute;
    top: 428px;
    left: 100px;
  }
  
  .button26 {
    position: absolute;
    top: 428px;
    left: 182px;
  }
  
  .button27 {
    position: absolute;
    top: 428px;
    left: 264px;
  }
  
  .button28 {
    position: absolute;
    top: 428px;
    left: 346px;
  }
  
  .button29 {
    position: absolute;
    top: 428px;
    left: 428px;
  }
  
  .button30 {
    position: absolute;
    top: 428px;
    left: 510px;
  }
  
  .button31 {
    position: absolute;
    top: 510px;
    left: 100px;
  }
  
  .button32 {
    position: absolute;
    top: 510px;
    left: 182px;
  }
  
  .button33 {
    position: absolute;
    top: 510px;
    left: 264px;
  }
  
  .button34 {
    position: absolute;
    top: 510px;
    left: 346px;
  }
  
  .button35 {
    position: absolute;
    top: 510px;
    left: 428px;
  }
  
  .button36 {
    position: absolute;
    top: 510px;
    left: 510px;
  }

  #resultContainer {
    font-size: 16px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
  }
}
